<div class="topnav">
		<a href="#">Hi <span class="red">{{user.name}}</span></a>
		<p>Your Accion ID : <span class="red">{{user.userid}}</span></p>
		<button class = "logoutBtn" ng-click = "logout()">Logout</button>
</div>
<div class="container">
		<div data-test-hook="title">
			<span data-test-hook="title-label">Title: </span>
			<span data-test-hook="title-value">{{title}} </span>
		</div>
		<div>
			<span data-test-hook="description-label">Description: </span>
			<span data-test-hook="description-value">{{description}}</span>
		</div>

		<div>
			<label>
				<span data-test-hook="input-label">Input Name</span>
				<input
					data-test-hook="input-value"
					type="name" value="Khazi"
					name="name"/>
			</label>
		</div>

		<div class="table-layout">
				<table>
					<h1>Current Projects</h1>
					<div class="search-box">
						<input class="search-txt" type="text" name="" placeholder="Search for projects" ng-model = "searchText.project">
						<a class="search-btn"><i class="fas fa-search"></i></a>
					</div>
					<h4>Hover on any of the table data to edit on the fly.</h4>
						<tr>
							<th>Sl No</th>
							<th>Project</th>
							<th>Status</th>
							<th>Logs</th>
							<th>Location</th>
						</tr>
						<tr ng-repeat = "i in userData | filter: searchText">
							<td><input type="checkbox" ng-model="i.isDelete"/></td> 
							<td><div click-to-edit = "i.project"></div></td>
							<td><div click-to-edit = "i.status"></div></td>
							<td><div click-to-edit = "i.logs"></div></td>  
							<td><div click-to-edit = "i.location"></div></td> 
						</tr>
					</table>
					<button class="add-rem-btn" ng-click = "add()">Add</button>
					<button class="add-rem-btn" ng-click = "remove()">Remove</button>
					<br>
					<div class="form-layout" ng-show = "showForm">
						<h1>Add New Project You Currently Working!</h1><span class="add-alert" ng-show = "addMsg">New project has been added!</span>
						<fom name="addNewForm">
							<h4 class="form-label">Project Name</h4><input class="inp-layout" type="text" ng-model = "pname" required>
							<h4 class="form-label">Status</h4><select class="select-layout" ng-model = "pstatus" required>
								<option selected disabled value="" hidden>Choose here</option>
								<option>Development</option>
								<option>Deployment</option>
								<option>Planning</option>
							</select>
							<h4 class="form-label">Logs</h4><textarea class="txtarea-layout" type="text" ng-model = "plogs" required></textarea>
							<h4 class="form-label">Location</h4>
								JP Nagar<input name="location" type="radio" class="radio-layout" ng-model = "plocation" ng-value = "'JP Nagar'">
								Whitefield<input name="location" type="radio" class="radio-layout" ng-model = "plocation" ng-value = "'Whitefield'">
							<button type="reset" ng-disabled = "addNewForm.$invalid" ng-click = "onSubmit()" class="add-btn">Add Project</button>
					</div>
					</form>
		</div>
</div>