<div>
	<div data-test-hook="title">
		<span data-test-hook="title-label">Title: </span>
		<span data-test-hook="title-value">{{title}} </span>
	</div>
	<div>
		<span data-test-hook="description-label">Description: </span>
		<span data-test-hook="description-value">{{description}}</span>
	</div>

	<div>
		<label>
			<span data-test-hook="input-label">Input Name</span>
			<input
				data-test-hook="input-value"
				type="name" value="Khazi"
				name="name" />
		</label>
		<button ng-click = "logout()">Logout</button>
	</div>
</div>
