.form-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-size: 30px;
  background-color: lightgray;
}

.dismiss-error {
  margin-right: 15px;
}

.input-1,
.input-2 {
  max-width: 25%;
  margin-bottom: 25px;
  border-radius: 10px;
}

.submit {
  width: 300px;
  height: 50px;
}
label {
  color: rgb(8, 15, 110);
  font-weight: 100;
}

.error-msg {
  margin-top: 25px;
}
